#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 600px;
    width: 600px;
    border: 1px solid black
}


.box {
    border: 1px solid black;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-self: stretch;
    justify-content: center;
    align-items: center;
}

.footer {
    height: 200px;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    colum
}

.btn {
    align-self: self-end;
}

